.product {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .product {
    width: 100%;
    height: 100%;
    margin: 20px auto;
  }